.styleDo {
    -webkit-box-shadow: inset 4px -4px 8px 1px rgba(83,36,255,0.78);
    -moz-box-shadow: inset 4px -4px 8px 1px rgba(83,36,255,0.78);
    box-shadow: inset 4px -4px 8px 1px rgba(83,36,255,0.78);
    background-color: teal;
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}