
.maindivF{
  /* margin-bottom: 0 ; */
  width: 100%;
  text-align: center;
  margin-top: 5%; 
  color: white;
  background-color:rgba(15, 15, 17, 0.945);
  clear: both;
  padding-top: 3% ;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

.maindivF p{
  color: gray;
}
.maindivF h6{
  padding-top: 2%;
  color: gray;
  margin: 0 auto;
}
.maindivF h3{
  word-spacing: 10px;
}

.sossial_icon{
  background:black;
  color: gray;
}
.btn_icon{
  background:#100f2c;
  color: white;
}
.SOSIAL{
  width: 25%;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}
.SOSIAL_border{
  /* border-left: 2px solid white;
  border-right: 2px solid white; */
}
 
.maindivF_btn{
  position: fixed;
  right: 30px;
  bottom: 120px;
  left: unset;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maindivF_btn2{
  position: fixed;
  right: 30px;
  bottom: 76px;
  left: unset;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
