
.maindivF{
  /* margin-bottom: 0 ; */
  width: 100%;
  text-align: center;
  margin-top: 5%; 
  color: white;
  background-color:rgba(15, 15, 17, 0.945);
  clear: both;
  padding-top: 3% ;
  /* border: 2px solid red; */
}

.maindivF p{
  color: gray;
}
.maindivF h6{
  padding-top: 2%;
  color: gray;
  margin: 0 auto;
}

.Icon{
  background-color: black ;
  color: gray;
}
.SOSIAL{
  width: 15%;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
}
.SOSIAL_border{
  width: 30%;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.SOSIAL span{
  display: block;
}
 
.maindivF_btn{
  background:#42415c;
  width: 3rem;
  height: 3rem;
  position: fixed;
  border-radius: 50%;
  border: none;
  right: 32px;
  bottom: 82px;
  left: unset;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maindivF_btn2{background: #42415c;
  width: 3rem;
  height: 3rem;
  position: fixed;
  border-radius: 50%;
  border: none;
  right: 82px;
  bottom: 32px;
  left: unset;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
