


.minedivH{
    width: 100%;
    margin: 0 auto;
    font-size: 1.8em;
}
.div_Pach{
    font-family: monospace;
    /* transform: scaleX(0.884853); */
    font-size:50px;
    /* color: white; */
    margin: 0 auto;
    left: 5%;
    /* top: 1%; */
    width: 30%;
    text-align: center;
    text-align-last: center;
    display: inline-block;
}
.div_WELCOM{
    margin: 0 auto; 
    margin-top:  4% ;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 10px rgba(148, 148, 184,0.8);
    -webkit-box-shadow: 0px 0px 5px 10px rgba(148, 148, 184,0.8);
    -moz-box-shadow: 0px 0px 5px 10px rgba(148, 148, 184,0.8);
    width: 80%;
    position: relative;
    text-align: center;
    font-family: sans-serif;
    /* background-image: url(../components/images/d.jpg);  */
    /* background-size: cover; */
    padding: 0.05%;
} 
.div_WELCOM:before {
    /* content: "";
    background-color: rgba(85, 85, 92, 0.5);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; 
    width: 100%;
    margin: 0 auto; */
}
.div_WELCOM h1{
    word-spacing: 50px;
    /* margin-bottom: 20%; */
}
.chailddiv h2:nth-child(3){
    margin-top: 10%;
}
.slick-arrow{
    display: none !important;
}