

.ulN li{
    display: inline-block;
    margin-right: 10px;
    font-size: large;
    text-decoration: none;
}
.ulN{
    text-align: right;
    list-style: none;
    
}
.ulLN{
    text-decoration: none;
    
}
.ulLN:hover{
    background-color: yellow
}