
.main_div_A{
    width: 80%;
    margin: 0 auto;
    /* background-color:red; */
   
    color:  white;
}
/* .main_div_A :nth-child(1){
    text-align: right;
} */
.ulN{
    display: inline-block;
}

.color_div_{
    margin-top: 1%;
}
.div_logo{
    display: grid;
    grid-template-columns: auto auto;
}