
.main_div_A{
    width: 80%;
    margin: 0 auto;
    height: 20%;
}

.ulN{
    position: relative;
    top: 0;
    z-index: 1; 
    width: 100%;
}

.color__div_item_N{
    color: #4183c4 !important;
    
}
