

@import './css/About.css';
@import './css/Nav.css';
@import './css//Home.css';
@import './css/Activities.css';
@import './css/Footer.css';
@import './css/Blog.css';
@import './css/VisionMission.css';
@import './css/Contact.css';


body{
  
  margin: 0 auto;
  width: 90%;
}
@import './css//Donate.css';

body{
  background-color: white;
  margin: 0 auto;
  width: 90%;
}
